@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Modak&family=Moo+Lah+Lah&family=Rubik+Puddles&display=swap');
footer{
    background-color: $first;
    height: 200px;
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 4fr 1fr;
    color: $dark;

> div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    > h1{
        
        text-transform: uppercase;
        font-family: "Moo Lah Lah", sans-serif;
  font-weight: 400;
  font-style: normal;
        color: rgb(32, 13, 128);

        

    }
    > p{
        font: 500 1.2rem $text1;
    }
    > h5{
        font: 300 2rem $text1;
        margin: 1rem 0;
        text-align: center;
    }
    > div{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          a{
            color: $dark;
            font: 900 2rem $text2;
            &:hover{
                color: $third;
                transform: translateY(-5px);
            }
          }
    }
}
    

}